In [1]:
import glob
import pandas as pd
from datetime import datetime

In [10]:
#!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
#!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
#!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv

In [32]:
targetfile = 'final_after_ETL.csv'

In [11]:
def extract_from_json(filename):
    dataframe = pd.read_json(filename)
    return dataframe

In [12]:
columns=['Name','Market Cap (US$ Billion)']

In [18]:
def extract():
    data=extract_from_json('Downloads/bank_market_cap_1.json')
    data.set_axis(columns, axis=1, inplace=True)
    return data

In [30]:
exchange_rate = pd.read_csv('Downloads/exchange_rates.csv',index_col=0).loc['GBP'].item()

In [24]:
def transform(data):
    data['Market Cap (US$ Billion)']=round(data['Market Cap (US$ Billion)']*exchange_rate,3)
    transformed=data.rename(columns={'Market Cap (US$ Billion)':'Market Cap (GBP$ Billion)'})
    return transformed

In [25]:
def load(targetfile,data_to_load):
    data_to_load.to_csv(targetfile)

In [27]:
def log(message):
    timestamp_format = '%Y-%h-%d-%H:%M:%S' # Year-Monthname-Day-Hour-Minute-Second
    now =datetime.now() # get current timestamp
    timestamp = now.strftime(timestamp_format)
    with open('log.txt','a') as f:
        f.write(timestamp +',' + message +'\n')

In [28]:
log("ETL Job Started")
log("Extract phase Started")
# Call the extract here
extracted_data=extract()
# Print the rows
extracted_data.head()
log("Extract phase Ended")

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399

In [31]:
log("Transform phase Started")
transformed_data=transform(extracted_data)
transformed_data.head(5)
log("Transform phase Ended")

                                      Name  Market Cap (GBP$ Billion)
0                           JPMorgan Chase                    286.319
1  Industrial and Commercial Bank of China                    252.834
2                          Bank of America                    238.272
3                              Wells Fargo                    225.588
4                  China Construction Bank                    188.519

In [33]:
log("Load phase Started")
# Call the load function
load(targetfile, transformed_data)
log("Load phase Ended")